body {
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
}

nav{
    flex-shrink: 0;
    background: #032900;
    justify-self: start;
    color:white;
}
.wel-text {
    color: #FFF;
    font-family: Inter;
    font-size: 128px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap; /* Prevent text from wrapping */
    animation: moveText 5s linear infinite;
}

@keyframes moveText {
    0% {
        transform: translateX(100%); /* Start from the right */
        letter-spacing: normal+10px; /* Normal letter spacing */
    }
    100% {
        transform: translateX(-100%); /* Move to the left */
        letter-spacing: normal; /* Increased letter spacing */
    }
}
